.message {
    padding: 16px;
    width: 100%;
    color: $color-secondary;
}

.message.success {
    background: $color-green;
}

.message.warning {
    background: $color-yellow;
    color: $color-main;
}

.message.error {
    background: $color-red;
}